.article {
    position: relative;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-top: 2px solid #ECEFF1;

    &:first-child {
        padding-top: 0;
        border-top: none;
    
    }

    @include e(title) {
        margin: 0;
        @include s(link) {
            display: block;
            text-decoration: none;
            color: #263238;
            @include transition(color 250ms ease-in-out);

            &:hover {
                color: #455A64;
            }
        }
    }

    @include e(meta) {
        font-size: 12px;
        display: inline-flex;
        align-items: center;
        color: #666;
        & > i {
            margin-right: 0.5rem;
        }

        @include m(link) {
            text-decoration: none;
            @include transition(color 200ms ease-in-out);

            &:hover {
                color: #263238;
            }
        }
        
        @include s(link) {
            text-decoration: none;
            margin-right: 0.3rem;
            @include transition(color 200ms ease-in-out);

            &:hover {
                color: #263238;
            }
        }

        margin-right: 1rem;

        @include s(list) {
            display: flex;
            align-items: center;
            padding: 16px 0;
        }
    }

    @include e(image) {
        width: 100%;
        object-fit: cover;
        @include s(link) {
            display: block;
            width: 100%;
            max-height: 500px;
            border-radius: 4px;
            overflow: hidden;
            
            @include transition(opacity 250ms ease-in-out);
            &:hover {
                opacity: 0.9;
            }
        }
    }

    @include e(summary) {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        line-height: 1.7rem;
        color: #444;
    }
}