.comments {
    padding: 1rem 0;

    @include e(title) {
        font-size: 1.2rem;
        position: relative;
        padding: 1rem 0;
        margin-bottom: 1rem;

        &::after {
            content: " ";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 50px;
            max-width: 100%;
            height: 2px;
            background-color: #00BCD4;
            border-radius: 3px;
        }
    }

    @include e(form) {
        display: block;
        margin-top: 1.5rem;
    }

    @include e(list) {
        padding: 1rem 0;
    }
    
    @include e(item) {
        margin: 1rem 0;
        @include s(comment) {
            display: flex;
        }
        @include s(avatar) {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        @include s(body) {
            padding: 0 1rem;
        }
        @include s(info) {
            display: block;
            padding: 0.5rem 0;
        }
        @include s(name) {
            display: block;
        }
        @include s(time) {
            display: block;
            font-weight: 400;
            font-size: 0.9rem;
            color: #666;
            margin-top: 0.2rem;
        }
        @include s(content) {
            display: block;
            font-size: 0.95rem;
            line-height: 1.45rem;
            margin-bottom: 0.5rem;
        }

        @include s(actions) {
            font-size: 0.9rem;
            display: flex;
        }
        @include s(action) {
            cursor: pointer;
            margin: 0 0.3rem;
            padding: 0.3rem;
            color: #666;
            @include transition(color 250ms ease-in-out);

            &:hover {
                color: #000;
            }
        }

        @include s(replies) {
            padding-left: 4rem;
            box-sizing: border-box;
        }

        @include m(reply) {
            background-color: #f0f0f0;
            border-radius: 8px;
            padding: 1rem;
            box-sizing: border-box;
        }
    }

    @include e(reply) {
        @include s(form) {
            margin-top: 1rem;
        }
        @include s(btn) {
            padding: 0 1rem;
            color: #1565C0;
            @include transition(color 250ms ease-in-out);
    
            &:hover {
                color: #2196F3;
            }
        }
    }
}