.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;

  @include e(list) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    background-color: #fff;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    list-style: none;
  }

  @include e(item) {
    font-size: 16px;
    width: 40px;
    color: #666;
    text-align: center;
    a {
      display: block;
      width: 100%;
      padding: 0.5rem 0;
      color: #666;
      text-align: center;
      text-decoration: none;
      @include transition(color 300ms ease-in-out);

      &:hover {
        color: #000;
        text-decoration: none;
      }

      &.active {
        //color: #1cb5ad;
        color: #455A64;
      }
    }
  }
}
