.search {
    @include e(container) {
        position: relative;
        width: 100%;
    }

    @include e(autocomplete) {
        display: none;
        position: absolute;
        top: calc(100% + 0.2rem);
        left: 0;
        width: 100%;
        background-color: #fff;
        @include box-shadow(0 1px 3px 1px rgba(0, 0, 0, 0.1));
        border-radius: 4px;
        z-index: 10;

        @include s(item) {
            display: flex;
            align-items: center;
            padding: 0.8rem;
            text-decoration: none;
            border-bottom: 1px solid #ECEFF1;
            @include transition(all 300ms ease-in-out);

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background-color: #ECEFF1;
            }
        }
        @include s(img) {
            width: 45px;
            height: 45px;
            display: block;
            background-color: #eee;
            border-radius: 4px;
            margin-right: 1rem;
            object-fit: cover;
            object-position: left;
        }

        @include s(detail) {
            display: block;
        }

        @include s(title) {
            display: block;
            font-size: 1rem;
            color: #37474F;
        }

        @include s(author) {
            font-size: 0.75rem;
            display: flex;
            align-items: center;
            color: #78909C;
            margin-top: 0.5rem;

            & > i {
                margin-right: 0.5rem;
            }
        }
        
        @include s(more) {
            margin-left: auto;
            color: #607D8B;
        }
    }
}