.c-auth {
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    display: block;
    background-color: #f7faff;

    @include e(box) {
        background-color: #fff;
        padding: 1.5rem;
        border-radius: 0.5rem;
        @include box-shadow(0 1px 3px 1px rgba(0, 0, 0, 0.1));
    }

    @include e(link) {
        display: block;
        text-decoration: none;
        text-align: center;
        padding: 0.2rem 0;

        @include s(container) {
            padding: 0.8rem 0;
        }
    }
}