extends ../layout

block content
    div.c-page
        div.c-page__head
            div
                h1.c-page__title Add New Category
                p.c-page__description
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi reprehenderit molestias cupiditate mollitia officiis in praesentium beatae veniam voluptatibus asperiores libero

        div.c-page__body
            form.needs-validation(novalidate)
                div.mb-3
                    label.form-label(for="title") Category Title
                    input.form-control(type="text", id="title", placeholder="Category Title", required)
                    div.invalid-feedback
                        | Please fill title field
        

                div.mb-3
                    label.form-label(for="slug") Category Slug
                    input.form-control(type="text",id="slug", placeholder="Category Slug", required)
                    div.invalid-feedback
                        | Please fill slug field

                div.mb-3
                    label.form-label(for="parent") Parent
                    select.form-select(id="parent", multiple, size="3")
                        option(value="1") One
                        option(value="2") Two
                        option(value="3") Three

                button.btn.btn-primary Add Category