extends ../layout

block content
  div.c-page
    div.c-page__head
      div
        h1.c-page__title Comment List
        p.c-page__description
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi reprehenderit molestias cupiditate mollitia officiis in praesentium beatae veniam voluptatibus asperiores libero/p>
      
    
    div.c-page__body
      table.c-table
        thead.c-table__head
          tr
            th
              small ID
            
            th
              small Post Title
            
            th
              small Username
            
            th
              small Summary
            
            th
              small Status
            
            th
              small Created At
            
            th
              small Replied At
            
            th
              small Actions
            
          
        
        tbody.c-table__body
          tr.c-table__row.c-table__row--draft
            td 1
            
            td
              a(href="/") ReactJS
            
            td
              a(href="/") username
            
            td
              small Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi reprehenderit molestias cupiditate mollitia officiis in praesentium
            
            td Draft
            
            td
              small 2022-01-24
            
            td
              small 2022-01-24
            
            td
              button.btn.btn-sm.btn-primary(data-bs-toggle="modal", data-bs-target="#staticBackdrop") View
    

    div.modal.fade(id="staticBackdrop", data-bs-backdrop="static", data-bs-keyboard="false", tabindex="-1", aria-labelledby="staticBackdropLabel", aria-hidden="true")
      div.modal-dialog
        div.modal-content
          div.modal-header
            h5.modal-title(id="staticBackdropLabel") Modal title
            button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
          
          div.modal-body
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi reprehenderit molestias cupiditate mollitia officiis in praesentium
            form.needs-validation(novalidate)
              div.mb-3
                  label.form-label(for="content") Reply
                  textarea.form-control(id="content", required, rows="3")
                  div.invalid-feedback
                    | Please fill reply field
                  
              
              button.btn.btn-primary(type="button") Reply
          
          div.modal-footer
            button.btn.btn-secondary(data-bs-dismiss="modal", type="button") Close
            button.btn.btn-warning(type="button") Junk
          
        
      
    
  