<% if(errorsMessage) { %>
    <div class="alert alert-danger" role="alert">
        <% errorsMessage.forEach(error => { %>
            <p class="error-p"><%= error.msg ? error.msg : error.toString() %></p>
        <% }) %>
    </div>
<% } %>

<% if(successMessage) { %>
    <div class="alert alert-success" role="alert">
        <%= successMessage.msg ? successMessage.msg : successMessage.toString() %>
    </div>
<% } %>
