.dashboard {
    @include e(head) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    @include e(title) {
        font-size: 1.4rem;
        color: #0D47A1;
        margin: 0;
        padding: 0;
    }


    @include e(body) {
        max-height: 25rem;
        canvas {
            max-height: 100%;
        }

        @include m(auto) {
            max-height: none;
        }
    }

    @include e(statistic) {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @include s(img) {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #607D8B;
            color: #fff;
            margin-right: 1rem;
        }

        @include s(detail) {
            // width: 100%;
        }

        @include s(title) {
            display: block;
            font-size: 0.9rem;
            color: #444;
        }
        @include s(value) {
            display: block;
            font-size: 1.2rem;
            font-weight: 600;
            color: #0D47A1;
        }
    }
}