extends ../layout

block content
    div.c-page
        div.c-page__head
            div
                h1.c-page__title Change Password
                p.c-page__description
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi reprehenderit molestias cupiditate mollitia officiis in praesentium beatae veniam voluptatibus asperiores libero
        div.c-page__body
            form.needs-validation(method="POST", novalidate)
                div.mb-3.row
                    div.col-6
                        label.form-label(for="currentPassword") Current Password
                        input.form-control(type="password", id="currentPassword", name="currentPassword", placeholder="Current Password", required)
                        div.invalid-feedback
                            | Please fill current password field

                div.mb-3.row
                    div.col-6
                        label.form-label(for="newPassword") New Password
                        input.form-control(type="password", id="newPassword", name="newPassword", placeholder="New Password", required)
                        div.invalid-feedback
                            | Please fill new password field

                    div.col-6
                        label.form-label(for="confirmPassword") Confirm Password
                        input.form-control(type="password", id="confirmPassword", name="confirmPassword", placeholder="Confirm Password", required)
                        div.invalid-feedback
                            | Please fill confirm password field

                button.btn.btn-primary Change Password