// # Input Styles
.form {
    @include e(controller) {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
        border-radius: 4px;
        @include box-shadow(0 1px 3px 1px rgba(0, 0, 0, 0.15));
    
        & > i {
            display: inline-block;
            padding: 0 0.8rem;
            color: #90A4AE;
        }
    }

    @include e(label) {
        font-size: 0.95rem;
        display: inline-block;
        color: #444;
        margin-bottom: 0.5rem;
    }

    @include e(button) {
        all: unset;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 45px;
        max-height: 100%;
        color: #90A4AE;
        cursor: pointer;
    }

    @include e(input) {
        all: unset;
        width: 100%;
        padding: 0.8rem 1rem;
        font-size: 1rem;
        color: #455A64;
        display: block;

        @include placeholder {
            color: #ccc;
            font-style: italic;
        }
    }
}