extends layout

block content

    p
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iste quibusdam ab quae obcaecati modi eos explicabo delectus non voluptate inventore accusantium laborum culpa esse, libero ad vel ullam ipsam.
    