extends layout

block content
  article.article
    h2.article__title
      a.article__title-link(href="/posts/:slug")
        | Beautiful Day With Friends In Paris

    div.article__meta-list
      span.article__meta
        i.fa-solid.fa-calendar-day
        | July, 03 2022
      span.article__meta
        i.fa-solid.fa-tags
        a.article__meta-link(href="/posts/?category=:cateSlug") Three,
        a.article__meta-link(href="/posts/?category=:cateSlug") Categories,
        a.article__meta-link(href="/posts/?category=:cateSlug") assigned
      

      a.article__meta.article__meta--link(href="/posts/:slug/#comments")
        i.fa-solid.fa-comments
        | 3 Comments
      

      a.article__meta.article__meta--link(href="/posts/?author=:authorSlug")
        i.fa-solid.fa-user-pen
        | firstName lastName

    a.article__image-link(href="/posts/:slug")
      img.article__image(src="/web/images/article1.jpg")
    
    p.article__summary
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ducimus quibusdam voluptatibus quisquam dolorum doloremque quidem eligendi dignissimos soluta cum voluptates vitae mollitia, sapiente autem ex voluptas ab accusantium pariatur!
    
    a.button.button--primary--md(href="/posts/:slug")
      | READ MORE
      i.fa-solid.fa-arrow-right-long
      
  article.article
    h2.article__title
      a.article__title-link(href="/posts/:slug")
        | Beautiful Day With Friends In Paris

    div.article__meta-list
      span.article__meta
        i.fa-solid.fa-calendar-day
        | July, 03 2022
      span.article__meta
        i.fa-solid.fa-tags
        a.article__meta-link(href="/posts/?category=:cateSlug") Three
        a.article__meta-link(href="/posts/?category=:cateSlug") Categories
        a.article__meta-link(href="/posts/?category=:cateSlug") assigned
      

      a.article__meta.article__meta--link(href="/posts/:slug/#comments")
        i.fa-solid.fa-comments
        | 3 Comments
      

      a.article__meta.article__meta--link(href="/posts/?author=:authorSlug")
        i.fa-solid.fa-user-pen
        | firstName lastName

    a.article__image-link(href="/posts/:slug")
      img.article__image(src="/web/images/article1.jpg")
    
    p.article__summary
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ducimus quibusdam voluptatibus quisquam dolorum doloremque quidem eligendi dignissimos soluta cum voluptates vitae mollitia, sapiente autem ex voluptas ab accusantium pariatur!
    
    a.button.button--primary--md(href="/posts/:slug")
      | READ MORE
      i.fa-solid.fa-arrow-right-long