<%- include('../layouts/header') %>
    <div class="container mt-5">
        <h4>Add New Post</h4>
        <!-- Form -->
        <form method="post">
            <!-- Title -->
            <div class="md-form mt-3">
                <input type="text" id="title" name="title" class="form-control">
                <label for="title">Title</label>
            </div>

            <!--Message-->
            <div class="md-form">
                <textarea id="content" name="content" class="form-control md-textarea" rows="4"></textarea>
                <label for="content">Content</label>
            </div>
            <!-- Send button -->
            <button class="btn btn-outline-info btn-rounded z-depth-0 my-4 waves-effect" type="submit">Send</button>

        </form>
        <!-- Form -->
    </div>
<%- include('../layouts/footer') %>
