// # Grid Styles
$sidebarWidth: 17rem;
.grid {
    @include e(container) {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: flex-start;
        background-color: #f7faff;
    }

    @include e(sidebar) {
        width: $sidebarWidth;
    }

    @include e(content) {
        margin-left: $sidebarWidth;
        width: calc(100% - #{$sidebarWidth});
    }

    @include e(page) {
        padding: 1rem 2rem;
    }
}