aside.grid__sidebar.aside
    div.search__container
        form.form__search.form__controller(action="/posts/", method="GET")
            input.form__input(type="text", autocomplete="off", name="q", placeholder="Search ...")
            button.form__button
                i.fa-solid.fa-magnifying-glass
        ul.search__autocomplete
            li
                a.search__autocomplete-item(href="/posts/:slug")
                    img.search__autocomplete-img(src="/web/images/logo.png")
                    span.search__autocomplete-title
                        span.search__autocomplete-title Post Name
                        span.search__autocomplete-author
                            i.fa-solid.fa-user-pen
                            | firstName lastName
                    i.search__autocomplete-more.fa-solid.fa-arrow-right-long
    
    section.aside__section
        h3.aside__section-title
            | ABOUT {AUTHOR NAME}
        img.aside__author-img(src="/web/images/man.png", alt="Author Name")
        p.aside__author-about
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto architecto repellendus rem autem facilis repellat provident fuga dolores nulla magnam laudantium quod ut, ad incidunt corrupti quaerat reprehenderit reiciendis. Suscipit?

    section.aside__section
        h3.aside__section-title
            | SUBSCRIBE & FOLLOW
        ul.social-media__list
            li.social-media__item
                a.social-media__link(href="facebook.com")
                    i.fa-brands.fa-facebook-f
            li.social-media__item
                a.social-media__link(href="twitter.com")
                    i.fa-brands.fa-twitter
            li.social-media__item
                a.social-media__link(href="instagram.com")
                    i.fa-brands.fa-instagram 
            li.social-media__item
                a.social-media__link(href="github.com")
                    i.fa-brands.fa-github
            li.social-media__item
                a.social-media__link(href="youtube.com")
                    i.fa-brands.fa-youtube

    section.aside__section
        h3.aside__section-title
            | Categories
        ul.aside__list
            li
                a.aside__list-item(href="/posts/?category=:cateSlug") Journey
                    span.aside__list-badge (40)
                
            
            li
                a.aside__list-item(href="/posts/?category=:cateSlug") Journey
                    span.aside__list-badge (40)
                
            
            li
                a.aside__list-item(href="/posts/?category=:cateSlug") Journey
                    span.aside__list-badge (40)
                
            
            li
                a.aside__list-item(href="/posts/?category=:cateSlug") Journey
                    span.aside__list-badge (40)
                                    
                                
                            
                        
                    
                