header.page__header
    h1.header__title= title
    p.header__desc
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad nemo quisquam, quis fugit consequuntur aliquam pariatur eveniet cum saepe esse ipsam vero, libero quia animi? Cupiditate repellendus sed nihil!
