div.pagination
    ul.pagination__list
        li.pagination__item
            a(href="/posts/?etc&page=1")
                i.fa-solid.fa-chevron-left
        li.pagination__item
            a(href="/posts/?etc&page=11")
        
        li.pagination__item
            a(href="/posts/?etc&page=22")
        
        li.pagination__item
            a(href="/posts/?etc&page=33")
        
        li.pagination__item ...
        
        li.pagination__item
            a(href="/posts/?etc&page=55")
        
        li.pagination__item
            a(href="/posts/?etc&page=3")
                i.fa-solid.fa-chevron-right
                                
                            
                        
                    