doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/dashboard/css/bootstrap.min.css')
    link(rel='stylesheet', href='/dashboard/css/style.css')
  body
    div.c-auth
        div.container
            div.row.justify-content-center.align-items-center
                div.col-4.col-md-4.c-auth__box
                  if errorMessages
                    div.alert.alert-danger
                        each err in errorMessages
                            p.mb-0= err.msg || err
                  block content
    include ../dashboard/includes/scripts