extends layout

block content
  h1 Dashboard
  div.row
    div.col
      div.panel__box.dashboard__statistic
        i.fa-solid.fa-chart-line.dashboard__statistic-img
        div.dashboard__statistic-detail
          span.dashboard__statistic-title Actual Income
          span.dashboard__statistic-value $30K
        
      
    
    div.col
      div.panel__box.dashboard__statistic
        i.fa-solid.fa-chart-line.dashboard__statistic-img
        div.dashboard__statistic-detail
          span.dashboard__statistic-title Actual Income
          span.dashboard__statistic-value $30K
        
      
    
    div.col
      div.panel__box.dashboard__statistic
        i.fa-solid.fa-chart-line.dashboard__statistic-img
        div.dashboard__statistic-detail
          span.dashboard__statistic-title Actual Income
          span.dashboard__statistic-value $30K
        
      
    
    div.col
      div.panel__box.dashboard__statistic
        i.fa-solid.fa-chart-line.dashboard__statistic-img
        div.dashboard__statistic-detail
          span.dashboard__statistic-title Actual Income
          span.dashboard__statistic-value $30K
        
      
    
  
  div.row
    div.col.col-md-8
      div.row
        div.col-12
          div.panel__box
            div.dashboard__head
              h3.dashboard__title Monthly Cash Flow
            
            div.dashboard__body
              canvas(id="monthlyChart", width="400", height="400")
            
          
        
        div.col-12
          div.panel__box
            div.dashboard__head
              h3.dashboard__title Categories Cash Flow
            
            div.dashboard__body
              canvas(id="categoriesChart", width="400", height="400")

    div.col.col-md-4
      div.row
        div.col-12
          div.panel__box
            div.dashboard__head
              h3.dashboard__title Calendar
            
            div.dashboard__body.dashboard__body--auto
              div.c-calendar.c-calendar__container
                div.c-calendar__element 
                  div.c-calendar__year-header 
                    span.left-button
                      i.fa.fa-chevron-left(id="prev")
                    span.year(id="label")
                    span.right-button
                      i.fa.fa-chevron-right(id="next") 
                   
                  table.months-table.w-100 
                    tbody
                      tr.months-row
                        td.monthJan
                        td.monthFeb
                        td.monthMar
                        td.monthApr
                        td.monthMay
                        td.monthJun
                        td.monthJul
                        td.monthAug
                        td.monthSep
                        td.monthOct         
                        td.monthNov
                        td.monthDec
                  
                  table.days-table.w-100 
                    td.daySun
                    td.dayMon
                    td.dayTue
                    td.dayWed
                    td.dayThu
                    td.dayFri
                    td.daySat
                
                  div.frame 
                    table.dates-table.w-100 
                      tbody.tbody 
        div.col-12
          div.panel__box
            div.dashboard__head
              h3.dashboard__title Skills
            
            div.dashboard__body.dashboard__body--auto
              canvas(id="skillsChart", width="400", height="400")
            
          
        
      
    
  